body {
  font-family: var(--outfit);
  background-color: var(--Backgroundcolor);
  overflow-x: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --outfit:"Outfit",sans-serif;
}
.banner{
    background-image: url(../images/backgroung1.webp);
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo {
    font-size: 45px;  
}
.logo a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color: purple;
    transition: .3s;        
}
.logo a:hover{
  color: purple;
  transition: .3s;
}
.banner img{
  border-radius: 50%;
  display: inline;
}
#music-icon{
  cursor: pointer;
}
/*Carousel section*/
.teachers{
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background: hsl(66, 28%, 66%);
}
.teacher-head{
  text-align: center;
  color: black;
  background-color: hsl(66, 28%, 66%);
}
.teacher-head h2{
  font-size: 40px;
}
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -60px;
  }
  .wrapper i:last-child{
    right: -60px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  /*Reviews section*/
  .review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 30px;
}
.review-heading{
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
    padding: 10px 20px;
}
.review-heading h2{
  font-size: 40px;
}
.review-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.review-box{
    width: 500px;
    box-shadow: 2px 2px 30px;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    background-color: hsl(50, 43%, 50%);
    
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.profile{
    display: flex;
    align-items: center;
}
.profile .image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.user{
    display: flex;
    flex-direction: column;
}
.user strong{
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}
.user span{
    font-size: 1rem;
}
.comment{
  font-size: 1.3rem;
}
.grade{
  color: yellow;
}
.review-box:hover{
  transform: translateY(-5px);
  transition: all ease 0.3s;
}
/*About Us*/
.aboutus{
  background:hsl(66, 28%, 66%);
  padding-bottom: 70px;
}
.about-head{
  text-align: center;
  padding-top: 70px;
}
.about-head h2{
  font-size: 40px;
}
.text{
  padding-top: 70px;
  font-size: 30px;
  margin-left: 20%;
  margin-right: 20%;
  font-weight: 300;
  background-position: center center;
  text-align: center;
}
/*Courses section*/
.courses{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #d3c67b;
}
.content{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .content .card{
  background: #fff;
  width: calc(33% - 20px);
  text-align: center;
  padding: 15px 30px  30px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.content .card .top{
  height: 130px;
  color: #fff;
  padding: 12px 0 0 0 ;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
}
.content .card .top .title{
 font-size: 27px;
 font-weight: 600;
}
.content .card .top .price-sec{
  margin-top: -10px;
  font-weight: 600;
}
.content .card .top .price{
  font-size: 45px;
}
.content .card .info{
  font-size: 16px;
  margin-top: 20px;
}
.content .card .details .one{
  margin-top: 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content .card .details .one::before{
  position: absolute;
  content: "";
  width: 100%;
  background: #ddd;
  height: 1px;
  left: 0;
  top: -12px;
  border-radius: 25px;
}
.content .card .details .one i{
  color: #2db94d;
}
.content .card .details i.fa-times{
  color: #cd3241;
}
.content .card button{
  outline: none;
  border: none;
  height: 42px;
  color: #fff;
  margin-top: 30px;
  border-radius: 3px;
  font-size: 18px;
  width: 100%;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  letter-spacing: 1px;
}
.content .card button a{
  text-decoration: none;
  color: white  ;
  font-weight: 500;
}
.content .one .top,
.content .one button{
  background: #158f48;
}
.content .two .top,
.content .two button{
  background: yellowgreen;
}
.content .three .top,
.content .three button{
  background: purple;
}
.content button:hover {
  filter: brightness(90%);
}
.content .one ::selection{
background: #8af5b6;
}
.content .two ::selection{
background:  #f2b08c;
}
.content .three ::selection{
background: #d0f9fb;
}
@media (max-width:1000px) {
   .content .card{
    background: #fff;
    width: calc(50% - 20px);
    margin-bottom: 30px;
}
}
@media (max-width:715px) {
 .content .card{
    width: 100%;
}
}
/*Footer*/
.footer {
  background-color: hsl(66, 28%, 66%);
  width: 100%;
  padding: 70px 30px 20px; 
}

.socials {
  display: flex;
  justify-content: center;
}

.socials a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socials a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
/* Social Animations --------------------------*/
.socials a:hover {
  background-color: black;
  transition: 0.5s
}

.socials a:hover i {
  color: white;
  transition: 0.5s;
}
/* Footer Navigations -----------------------*/
.footerNav {
  margin: 30px 0;
}

.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footerNav ul li a {
  color: hsl(0, 12%, 10%);
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}

.footerBottom {
  background-color: hsl(66, 28%, 66%);
  padding: 20px;
  text-align: center;
}

.footerBottom p {
  color: white;
}

.design {
  font-size: 0.9rem;
  color: hsl(50, 43%, 50%);
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  color: white;
}
/* Footer Animations */
.footerNav ul li a:hover {
  opacity: 1;
  color: hsl(72, 95%, 68%);
}